@import "tailwindcss";
/* import Konsta UI theme */
@import 'konsta/svelte/theme.css';

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Swiper Styles */
.swiper-pagination {
  position: relative !important;
  bottom: 0 !important;
}

.onboarding-steps-slider .swiper-pagination .swiper-pagination-bullet {
  background: #6f7174 !important;
  width: 4px !important;
  height: 4px !important;
}
.onboarding-steps-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px !important;
  height: 4px !important;
  border-radius: 2px !important;
  background-color: #613bff !important;
}